<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2 mt-3">
    <h1>Edit listing</h1>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Enter Title</label>
        <input
          type="text"
          name="title"
          value="<%= listing.title %>"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Enter Description</label>
        <textarea type="text" name="description" class="form-control">
<%= listing.description %></textarea
        >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Choose image</label>
        <input
          type="text"
          name="image"
          value="<%= listing.image %>"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Enter Price</label>
          <input
            type="text"
            name="price"
            value="<%= listing.price %>"
            class="form-control"
          />
        </div>
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Enter Location</label>
          <input
            type="text"
            name="location"
            value="<%= listing.location %>"
            class="form-control"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Enter Country</label>
        <input
          type="text"
          name="country"
          value="<%= listing.country %>"
          class="form-control"
        />
      </div>
      <button class="btn btn-dark mb-3 update-btn">Update</button>
    </form>
  </div>
</div>
