<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-3">
    <h1><%= listing.title %></h1>
  </div>
  <div class="card col-6 offset-3 show-card mb-3">
    <img
      src="<%= listing.image%>"
      class="card-img-top show-img mb-3"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">Owned by : <b><%= listing.owner.username %></b></p>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text">
        &#8377;<%= listing.price.toLocaleString("en-PK") %>
      </p>
      <p class="card-text"><%= listing.location %> <%= listing.country %></p>
    </div>
  </div>
  <br />

  <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
  <div class="btns">
    <a
      href="/listings/<%=listing._id%>/edit"
      class="btn btn-dark col-1 offset-3 update-btn"
      >Edit</a
    >
    <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
  <% }%>
  <br />
  <div class="col-8 offset-3">
    <hr />
    <% if(currUser){ %>
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%=listing._id%>/reviews"
      method="post"
      class="needs-validation"
      novalidate
    >
      <div>
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          class="form-range"
          id="rating"
          name="review[rating]"
        />
      </div>
      <div>
        <label for="comment">Comments</label>
        <textarea
          type="text"
          id="comment"
          name="review[comment]"
          cols="30"
          class="form-control"
          rows="5"
          required
        ></textarea>
        <div class="invalid-feedback">Fill the comment section first</div>
      </div>
      <button class="btn btn-success my-3">Submit</button>
    </form>
    <hr />
    <% } %>
    <!-- Reviews -->
    <h4>All Reviews</h4>

    <div class="row">
      <% for(review of listing.reviews) { %>
      <div class="card mb-3 col-5 ms-3 p-3">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text">
            <% for(let i = 1; i <= 5; i++) { %> <% if (i <= review.rating) { %>
            <i class="fa-solid fa-star" style="color: rgb(204, 146, 11)"></i>
            <% } else { %>
            <i class="far fa-star"></i>
            <% } %> <% } %>
          </p>
          %>
          <form
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
